[flake8]
ignore = E203,W503,E704
exclude = .git,.pytest_cache,venv,__pycache__,build,dist,docs,orienti_api.egg-info,apps/core/models/__init__.py,apps/core/migrations,orienti_api/settings
max-line-length = 119
